<div class="row span9">
  <div id='display' style="height: 400px; overflow: auto">
    <% File.open('log', 'r') do |file| %>
        <% while line = file.gets %>
            <% if error_line = line.match(/ERROR:\s(.*)/) %>
                <span class="label label-important">ERROR</span> <%= error_line[1] %><br/>
            <% elsif warn_line = line.match(/WARN:\s(.*)/) %>
                <span class="label label-warning">WARN</span> <%= warn_line[1] %><br/>
            <% else %>
                <%= line %><br/>
            <% end %>
        <% end %>
    <% end %>
  </div>
  <div style="margin-top: 30px">
    <form action='/' method='get' class="form-search">
      <input type='text' name='cmd' autofocus="true" placeholder="Type a command" class="input-xxlarge search-query">
      <button class="btn btn-warning">execute!</button>
    </form>
  </div>
</div>

<script>
    $(function () {
        $('#display').animate({"scrollTop": $('#display')[0].scrollHeight}, "slow");
    })
</script>